# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
*.class

*.log
.settings
.project
logs
job

templates
.env
tj-message/tj-message-service/src/main/resources/application.yml
tj-auth/tj-auth-service/src/main/resources/application.yml
tj-media/tj-media-service/src/main/resources/application.yml